<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Recipes API</title>
</head>

<body>
    <h1 class="text-center my-5">Recipes API</h1>
    <hr>
    <div class="container text-center">
        <div class="my-4">
            <h4>Recipes</h4>
            <a href="{{ request.build_absolute_uri }}api/recipe/" class="text-danger">
                {{ request.build_absolute_uri }}api/recipe/
            </a>
        </div>
        <div class="my-4">
            <p>Recipes Image Upload</p>
            <a href="{{ request.build_absolute_uri }}api/recipe/recipes/0/upload-image/" class="text-danger">
                {{ request.build_absolute_uri }}api/recipe/recipes/&lt;recipeId&gt;/upload-image/
            </a>
        </div>
        <h4>Filters</h4>
        <p>Filter By Ingredients</p>
        <a href="{{ request.build_absolute_uri }}api/recipe/recipes/?ingredients=0" class="text-danger my-2 d-block">{{ request.build_absolute_uri }}api/recipe/recipes/?ingredients=&lt;id&gt;</a>
        <p>Filter By Tags</p>
        <a href="{{ request.build_absolute_uri }}api/recipe/recipes/?tags=0" class="text-danger my-2 d-block">{{ request.build_absolute_uri }}api/recipe/recipes/?tags=&lt;id&gt;</a>
        <p>Filter Tags By Those Assigned To Recipes</p>
        <a href="{{ request.build_absolute_uri }}api/recipe/tags/?assigned_only=0" class="text-danger my-2 d-block">{{ request.build_absolute_uri }}api/recipe/tags/?assigned_only=&lt;id&gt;</a>
        <p>Filter Ingredients By Those Assigned To Recipes</p>
        <a href="{{ request.build_absolute_uri }}api/recipe/ingredients/?assigned_only=0" class="text-danger my-2 d-block">{{ request.build_absolute_uri }}api/recipe/ingredients/?assigned_only=&lt;id&gt;</a>
        <hr>
        <h4>Users</h4>
        <div class="my-4">
            <p>Create User</p>
            <a href="{{request.build_absolute_uri}}api/user/create/" class="text-danger">
                {{request.build_absolute_uri}}api/user/create/
            </a>
        </div>
        <div class="my-4">
            <p>Create User Token</p>
            <a href="{{request.build_absolute_uri}}api/user/token/" class="text-danger">
                {{request.build_absolute_uri}}api/user/token/
            </a>
        </div>

        <div class="my-4">
            <p>Logged In User Details</p>
            <a href="{{request.build_absolute_uri}}api/user/me/" class="text-danger">
                {{request.build_absolute_uri}}api/user/me/
            </a>
        </div>
    </div>
</body>

</html>